#svg-container {
    border: 1px solid grey;
}
.reaction-label {
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic; font-weight: bold; fill: rgb(32, 32, 120);text-rendering: optimizelegibility;
}
.metabolite-label {
    font-family: sans-serif; font-style: italic; font-weight: bold; font-size: 8px;
}
.metabolite-circle {
    fill: rgb(224, 134, 91);
    stroke: rgb(162, 69, 16);
}
#misc-labels{
    font-family: sans-serif; font-weight: bold; fill: rgb(120,120,120); text-rendering: optimizelegibility;
}
.line-arrow{
    fill: none; 
}
.segment {
    stroke: grey;
    stroke-width: 3px;
    fill: none;
}
.membrane {
    fill: none;
    stroke: rgb(255, 187, 0);
}