#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}
.command-button {
    float: left;
    font-size: 15px;
    color: #444;
    padding: 4px 8px;
    text-align: center;
    background-color: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
}
.command-button:hover {
    background-color: #e5e5e5;    
}