body {
font: 16px sans-serif;
}
#menus {
position:absolute;
right:100px;
top:20px;
width:300px;
z-index:10;
}
.menu {
width: 90%;
}

.square-outline {
    fill: none;
    stroke-width: 1px;
    stroke: #333;
}
.divider {
    stroke-width: 1px;
    stroke: rgba(147, 154, 167, 0.2);
}
.circle {
    stroke: rgba(43, 46, 71, 0.95);
    stroke-width: 1px;
}
.x-circle {
    fill: rgba(147, 154, 167, 0.5);
}
.y-circle {
    fill: rgba(43, 46, 71, 0.95);
}

.labels {
    font: 13px sans-serif;
}
.x-label {
    fill: #111;
}
.y-label {
    fill: #111;
}

.stop1 {
    fill: 
}