body {
    font: 12px sans-serif;
}
#menus {
    position:absolute;
    right:100px;
    top:20px;
    width:300px;
    z-index:10;
}
.float {
    float: left;
}
.menu {
    width: 90%;
}
.legend {
    font: 18px sans-serif;
}
.label {
    font: 18px sans-serif;
    width: 10%;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.trendline {
    stroke: grey;
    stroke-width; 1px;
}
.cursor-tooltip-circle {
    stroke: none;
    fill: rgba(100, 100, 100, 0.4);
}
.cursor-tooltip-text {
    font: 15px sans-serif;
    fill: rgb(80,80,80);
}
