/* Containers */
.escher-container {
    background-color: #F3F3F3;
    text-align: center;
    position: relative;
}
.fill-screen-body {
    /* Stop Chrome from showing scroll-end animation */
    overflow: hidden;
}
.fill-screen-div {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.escher-svg {
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    width: 100%;
    height: 100%;
}
/* Status */
#status {
    position:absolute;
    bottom:10px;
    left: 20px;
    color: red;
    background-color: white;
    font-size: 16px
}
/* Menus */
#menu {
    display: block;
    margin: 5px auto 0 auto;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0px;
}
.dropdown-menu {
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0px;
    margin: 0;
    text-align: left;
}
.dropdown-menu>li>a {
    font-size: 15px;
}
.dropdown {
    background-color: rgba(255, 255, 255, 0.95);
}
@media (max-width: 550px) {
    .dropdown-button {
	padding: 5px 9px;
    }
}
@media (min-width: 550px) {
    .dropdown-button {
	font-size: 18px;
    }
}
/* Search */
.search-menu-container {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
}
.search-menu-container-inline {
    width: 300px;
    display: inline-block;
    text-align: left;
}    
@media (min-width: 550px) {
    .search-menu-container-inline {
	width: 400px;
    }
}
.search-container {
    display: block;
    background: rgba(255, 255, 255, 0.95);
    padding: 3px;
    border: 1px solid #DDD;
    margin: 2px 0 0 0;
}
.search-bar {
    display: inline-block;
    border: 1px solid #DDD;
    margin-right: 4px;
    width: 114px;
    height: 29px;
    border-radius: 3px;
}
.search-counter {
    display: inline-block;
    padding: 0 8px;
}
/* Settings */
.settings-box {
    display: block;
    background: rgba(255, 255, 255, 0.95);
    padding: 3px;
    border: 1px solid #DDD;
    margin: 2px 0 0 0;
    text-align: left;
}
.settings-section {
    width: 90%;
}
.settings-number {
    text-align: center;
}
.scale-bar-input {
    width: 70px;
    text-align: left;
    margin: 0 10px;
}
/* For Settings and Search */
.close-button {
    float: right;
}
/* Button panel */
#button-panel {
    position: absolute;
    left: 4px;
    top: 81px;
}
#simple-button-panel {
    position: absolute;
    left: 4px;
    top: 20px;
}
.input-close-button {
    position: absolute;
    right: 0px;
    width: 18px;
    bottom: 0px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    background: none;
    font-size: 16px;
    font-weight: normal;
}
.simple-button {
    width: 40px;
    height: 40px;
    border: 1px solid #2E2F2F;
    background-image: linear-gradient(#4F5151, #474949 6%, #3F4141);
    color: #FFF;
    background-color: #474949;
    border-color: #474949;
    padding: 0;
    font-size: 17px;
    line-height: 1.42857143;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 3px 0 0 0;
}
/* Reaction input */
.input-close-button:hover {
    color: #ff3333;
    font-weight: bold;
}