.escher-container {
    background-color: #F3F3F3;
}
#status {
    position:absolute;
    bottom:10px;
    left: 20px;
    color: red;
    background-color: white;
    font-size: 16px
}
#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}
.btn-group {
    margin-right: 15px;
}
.input-close-button {
    position: absolute;
    right: 0px;
    width: 18px;
    bottom: 0px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    background: none;
    font-size: 16px;
    font-weight: normal;
}
.input-close-button:hover {
    color: #ff3333;
    font-weight: bold;
}