.escher-container {
    background-color: #F3F3F3;
    text-align: center;
}
.fill-screen-body {
    /* Stop Chrome from showing scroll-end animation */
    overflow: hidden;
}
.fill-screen-div {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.escher-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#status {
    position:absolute;
    bottom:10px;
    left: 20px;
    color: red;
    background-color: white;
    font-size: 16px
}
#menu {
    display: block;
    margin: 5px auto 0 auto;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0px;
}
.dropdown-menu {
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0px;
    margin: 0;
    text-align: left;
}
.dropdown-menu>li>a {
    font-size: 15px;
}
.dropdown {
    background-color: rgba(255, 255, 255, 0.95);
}
.search-menu-container {
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: left;
}
.search-menu-container-inline {
    display: inline-block;
}    
.search-container {
    display: block;
    background: rgba(255, 255, 255, 0.95);
    padding: 3px;
    border: 1px solid #DDD;
    margin: 2px 0 0 0;
}
.search-bar {
    display: inline-block;
    border: 1px solid #DDD;
    margin-right: 4px;
    width: 114px;
    height: 29px;
    border-radius: 3px;
}
.search-counter {
    display: inline-block;
    padding: 0 8px;
}
.search-close-button {
    float: right;
}
#button-panel {
    position: absolute;
    left: 4px;
    top: 81px;
}
.input-close-button {
    position: absolute;
    right: 0px;
    width: 18px;
    bottom: 0px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    background: none;
    font-size: 16px;
    font-weight: normal;
}
.input-close-button:hover {
    color: #ff3333;
    font-weight: bold;
}
@media (max-width: 550px) {
    .dropdown-button {
	padding: 5px 9px;
    }
}
@media (min-width: 550px) {
    .dropdown-button {
	font-size: 18px;
    }
    .search-menu-container {
	width: 400px;
    }
}