.escher-container {
    background-color: #F3F3F3;
}
#status {
    position:absolute;
    bottom:10px;
    left: 20px;
    color: red;
    background-color: white;
    font-size: 16px
}
#menus {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
}
#menu {
    margin: 0 auto;
    max-width: 600px;
}
.dropdown-button, .dropdown-button:hover {
    background-color: rgba(255, 255, 255, 0.85);
}
#button-panel {
}
.input-close-button {
    position: absolute;
    right: 0px;
    width: 18px;
    bottom: 0px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    background: none;
    font-size: 16px;
    font-weight: normal;
}
.input-close-button:hover {
    color: #ff3333;
    font-weight: bold;
}