html,
body {
    height: 100%;
    background-color: #FCFCFC;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
main {
    /* Negative indent footer by it's height */
    margin: 0px auto -60px auto;
    max-width: 700px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Set the fixed height of the footer here */
#push {
    height: 80px;
}
footer {
    height: 60px;
    background-color: #291E1E;
    color: #eee;
}
footer a, a:hover, a:focus, a:visited {
    color: #FFA09D;
}
@media (max-width: 768px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container {
    width: auto;
    max-width: 700px;
}
.container .more {
    margin: 20px 0;
}
.column-button {
    width: 100%;
    margin-top: 35px;
}
#title {
    color: #291E1E;
    font-size: 160px;
    font-family: tulpen-one, serif;
    font-weight: 400;
    /* font-style: italic; */
    text-align: center;
}
#logo {
    display: none;
}
@media (min-width: 768px) { /*@screen-sm-min) { */
    .column-button {
	margin-top: 59px;
    }
    header {
	margin-bottom: 50px;
    }
    #title {
	font-size: 230px;
	text-align: left;
	display: inline;
	top: 100px;
	position: relative;
    }
    #logo {
	position: relative;
	left: -20px;
	display: inline;
    }
}