*.log
.DS_Store
*.pyc
.#*
TAGS
Escher.egg-info/
.ipynb_checkpoints/
lib/
build/
_build/
env/
commonjs/
envset/
.cache/
*.tar.gz
*.whl
.tmp/

# built files
dist/
js/src/inline.js
coverage/
.nyc_output/

# site files
1-0-0
link-site

# npm and yarn
package-lock.json
node_modules/
.yarnclean
.mypy_cache/
