.dropdown {
  word-spacing: -2px;
  float: left;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-bottom: 0;
  font-weight: normal!important;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdownButton {
  color: #d9230f!important;
  border: 1px solid transparent;
  padding: 5px 9px;
}

a.dropdown {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  padding: 0 5px;
  float: right;
  background-color: #f5f5f5!important;
  border: 0!important;
  line-height: 1.42857143;
}

.dropdownButton:focus {
  color: #91170a!important;
  text-decoration: underline;
}

.dropdownButton:hover {
  color: #91170a!important;
  text-decoration: underline;
}

@media (min-width: 550px) {
  .dropdown {
    font-size: 18px;
  }

  .dropdownButton {
    padding: 5px 10px;
  }

  a.dropdown {
    font-size: 16px;
  }
}

.menu {
  word-spacing: 0;
  position: absolute;
  top: 103%;
  left: -1%;
  z-index: 1000;
  display: block;
  float: none;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  font-size: 13px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  margin: 0;
  text-align: left;
  line-height: 1.42857143;
}

#rightMenu {
  left: auto;
  right: -2%;
}

.menu li:hover {
  background-color: #d9230f;
  color: #FFFFFF;
}

.menu li, .menu label {
  font-size: 15px;
  display: block;
  clear: both;
  font-weight: 200;
  line-height: 1.42857143;
  color: #444444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul>li+li {
  margin-left: 2px
}

.menu.ul.li {
  background-color: rgba(255, 255, 255, 0.95);
}

.menuButton {
  width: 100%;
  padding: 3px 20px;
  margin: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label:focus, .menuButton:focus {
  background-color: #d9230f;
  color: #FFFFFF;
}

.menuButton:hover {
  background-color: #d9230f;
  color: #FFFFFF;
}

input[type="file"] {
  display: none;
}

#disabled {
  color: #e0e0e0;
}

#disabled:hover, #disabled:focus {
  background-color: rgba(255, 255, 255, 0.95);
  cursor: default;
}