.escher-container .picker {
  top:0;
  margin-left: -7px;
  position: absolute;
}

.escher-container .pickerBox {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.375);
  width: 14px;
  height: 35px;

}

.escher-container #min {
  margin-left: 0;
  left: -7px;
}

.escher-container #max {
  margin-left: 0;
  right: -7px;
}

.escher-container #max .pickerBox {
  margin-left: auto;
  right: -7px;
}

.escher-container .pickerOptions {
  box-shadow: 0 2px 14px #c5c5c5;
  margin-top: 1px;
  display: inline-flex;
  flex-direction: column;
  width: 90px;
}

.escher-container .pickerOptions * {
  line-height: 1.42;
  font-size: 12px;
}

.escher-container .pickerOptions .colorOptions {
  display: inline-flex;
}

.escher-container .colorOptions .colorText {
  width: stretch;
}

.escher-container .colorOptions .colorWheel {
  position: absolute;
  right: 0;
  width: 24px
}

.escher-container .picker .trashDiv {
  position: absolute;
  top: -22px;
  font-size: 17px;
}

.escher-container .picker .trashDiv * {
  font-size: 17px;
  cursor: pointer;
}

.escher-container .scaleEditor .fa-plus {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  margin-left: auto;
  margin-right: 20px;
}

.escher-container .scaleEditor :disabled {
  background: #f1ecfa;
}

.escher-container .scaleEditor input[type=color]:disabled {
  margin-top: 1px;
}