.escher-container .scaleEditor * {
  box-sizing: border-box;
}

.escher-container .scaleEditor {
  display: flex;
  justify-content: center;
}

.escher-container .scaleTrack {
  position: relative;
  display: flex;
  width: 400px;
  height: 30px;
  margin-bottom: 70px;
}