<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>bar graphs</title>
    <script src="js/lib/d3.v3.js"></script>
    <script data-main="js/config.js" src="js/require.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="container" style="width:1200px; height:400px"></div>
    <script type="text/javascript">
      require(["lib/d3", "vis/subplot", "vis/bar", "vis/export-svg"], function(d3, _, bar, export_svg) {
          var subplot = Subplot().setup({ rows: 3, columns: 1,
                                          selection: d3.select("#container") });
          var bar1 = bar({ selection: subplot.frame_by_row_col(0, 0),
			   selection_is_svg: true,
			   css_path: 'css/bar.css',
			   data_is_object: true,
                           title: 'bar1'});
          var bar2 = bar({ selection: subplot.frame_by_row_col(1, 0),
			   selection_is_svg: true,
                           css_path: 'css/bar.css',
                           data_is_object: true,
                           title: 'bar2' });
          var bar3 = bar({ selection: subplot.frame_by_row_col(2, 0),
			   selection_is_svg: true,
                           css_path: 'css/bar.css',
                           data_is_object: true,
                           title: 'bar3' });
          var ex = export_svg();
          d3.select('body').append('button').text('download').on('click', function(d) { ex.download('chart', 'svg', true); });
          d3.json('data/flux/flux-wt-pFBA.json', function(error, d) {
	      bar1.update_hook(function(svg) {
		  svg.selectAll('.bar').append('text').text(function(d, i) { if (i==5 || i==20) return '+'; });
	      });
              bar1.collect_data(d, 0);
          });
          d3.json('data/flux/flux-wt-pFBA.json', function(error, d) {
              bar2.collect_data(d, 0);
          });
          d3.json('data/flux/flux-wt-pFBA.json', function(error, d) {
              bar3.collect_data(d, 0);
          });
      });
    </script>
  </body>
</html>
