<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>bar graphs</title>
    <script data-main="js/config.js" src="js/require.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="container" style="width:600px; height:400px"></div>
    <script type="text/javascript">
      require(["libs/d3", "vis/subplot", "vis/bar", "vis/export-svg"], function() {
          var subplot = Subplot().setup({ rows: 3, columns: 1,
                                          selection: d3.select("#container") });
          var bar1 = Bar().setup({ sub_selection: subplot.frame_by_row_col(0, 0),
                                   css_path: 'css/bar.css',
                                   data_is_object: true,
                                   title: 'bar1' });
          var bar2 = Bar().setup({ sub_selection: subplot.frame_by_row_col(1, 0),
                                   css_path: 'css/bar.css',
                                   data_is_object: true,
                                   title: 'bar2' });
          var bar3 = Bar().setup({ sub_selection: subplot.frame_by_row_col(2, 0),
                                   css_path: 'css/bar.css',
                                   data_is_object: true,
                                   title: 'bar3' });
          var ex = ExportSvg();
          d3.select('body').append('button').text('download').on('click', function(d) { ex.download('chart', 'svg', true); });
          d3.json('data/flux/flux-wt-pFBA.json', function(error, d) {
              bar1.collect_data(d, 0);
          });
          d3.json('data/flux/flux-wt-pFBA.json', function(error, d) {
              bar2.collect_data(d, 0);
          });
          d3.json('data/flux/flux-wt-pFBA.json', function(error, d) {
              bar3.collect_data(d, 0);
          });
      });
    </script>
  </body>
</html>
