<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>box and whiskers</title>
    <script src="js/lib/d3.v3.js"></script>
    <script data-main="js/config.js" src="js/require.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="container" style="width:1200px; height:400px"></div>
    <script type="text/javascript">
      require(["lib/d3", "vis/box-and-whiskers", "vis/export-svg"], function(d3, box_and_whiskers) {
          var baw = box_and_whiskers({ selection: d3.select("#container"),
				       css_path: 'css/box-and-whiskers.css' });
          var ex = ExportSvg();
          d3.select('body').append('button').text('download').on('click', function(d) { ex.download('chart', 'svg', true); });
          d3.json('data/example/quartiles.json', function(error, d) {
              baw.collect_data(d);
          });
      });
    </script>
  </body>
</html>
