<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Builder</title>
    <link rel="stylesheet" href="css/builder.css"/>
    <script src="js/lib/d3.v3.js"></script>
    <script data-main="js/config.js" src="js/require.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <script type="text/javascript">
     require(["builder/main"], function(builder) {
       builder({ fill_screen: true,
		map_path: "data/maps/builder-json/755234.json",
		css_path: "css/builder-embed.css",
		cobra_model_path: "data/maps/cobra_model_0.2.json",
		/* flux_path: "data/flux/flux-wt-pFBA.json", */
		debug: true });
     });
    </script>
  </body>
</html>
