<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Builder</title>
    <link rel="stylesheet" href="css/builder.css"/>
    <script src="js/lib/d3.v3.js"></script>
    <script src="js/visbio.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <script type="text/javascript">
     visbio.builder({ fill_screen: true,
		     map_path: "data/maps/simpheny-maps/ijo-central.json",
		     css_path: "css/metabolic-map.css" });
    </script>
  </body>
</html>
