<!DOCTYPE html>
<meta charset="utf-8">
<title>epistasis</title>
<script src="js/libs/d3.v3.js"></script>
<script src="js/vis/epistasis.js" type="text/javascript"></script>
<script src="js/vis/data-menu.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/epistasis.css">
<body>
<div id="menus">
  <div class="float label"></div><div id="menu1" class="menu float"></div>
</div>
<script>
epistasis = Epistasis().setup();
data_menu = DataMenu().setup({ 
    selection: d3.select('#menu1'),
    getdatafiles: 'data/epistasis',
    update_callback: epistasis.collect_data
});
</script>
</body>
