<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Zoom + Pan</title>
<script src="js/libs/d3.v3.js"></script>
<script src="js/libs/jquery-latest.min.js" type="text/javascript"></script>
<script src="js/libs/vkbeautify.0.99.00.beta.js"></script>
<style>
.overlay {
  fill: none;
  pointer-events: all;
}
</style>
<body>
<script src="js/metabolic-map/exportsvg.js" type="text/javascript"></script>
<script src="js/metabolic-map/main.js" type="text/javascript"></script>
<script type="text/javascript">
map = Map().load("data/maps/simpheny-maps/ijo-central.json");
$(window).resize(function() {
  load();
});
</script>
</body>
</html>
