<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>E. coli core</title>
    <script src="js/lib/d3.v3.js"></script>
    <script data-main="js/config.js" src="js/require.js"></script>
    <meta charset="utf-8" />
    <style>
     #status {
       position:absolute;
       top:10px;
       right: 30px;
       color: red;
       background-color: white;
       font-size: 16px
     }
    </style>
  </head>
  <body>
    <script type="text/javascript">
     require(["lib/d3", "metabolic-map/main", "vis/export-svg"], function(d3, map, export_svg) {
       var map = map({ map_path: "data/maps/simpheny-maps/ijo-central.json", fill_screen: true,
		      flux_path: "data/flux/flux-wt-pFBA.json",
		      metabolite_zoom_threshold: 0,
		      reaction_zoom_threshold: 0,
		      label_zoom_threshold: 0 });
       map.set_update_hook( function() { map.set_status(""); } );
       map.set_status('Loading...');
       var ex = export_svg();
       d3.select('body').append('button')
	 .attr("style", "position:absolute; top:20px; left:20px;")
	 .text('download')
         .on('click', function(d) { ex.download('map', 'svg', true); });
     });
    </script>
  </body>
</html>
