{% if wrapper %}{% extends 'standalone.html' %}{% endif %}

{% block head %}
  <script src="{{jquery}}"></script>
  <script src="{{boot_js}}"></script>
  <link rel="stylesheet" href="{{boot_css}}">
  <link rel="stylesheet" href="{{escher_css}}"/>
{% endblock %}

{% block content %}
  <div style="height: {{height}}; width: 100%;" id="{{id}}"></div>

  <script>
   {{ initialize_js }}
  </script>
  <script>
   function escher_load_lib(url, callback){
     var s = document.createElement('script');
     s.src = url;
     s.async = true;
     s.onreadystatechange = s.onload = callback;
     s.onerror = function() { console.warn("failed to load library " + url); };
     document.getElementsByTagName("head")[0].appendChild(s);
   }

   if (typeof(escher) !== "undefined") {
     // already loaded: just create the figure
     !function(escher) {
       {{ draw_js }}
     }(escher);
   } else if (typeof define === "function" && define.amd) {
     // require.js is available: use it to load d3/mpld3
     require.config({paths: { d3: "{{ d3[:-3] }}",
			      escher: "{{ escher[:-3] }}" }});
     require(["d3", "escher"], function(d3, escher) {
       window.d3 = d3;
       window.escher = escher;
       {{ draw_js }}
     });
   } else {
     // require.js not available: dynamically load d3 & mpld3
     escher_load_lib("{{ d3 }}", function(){
       escher_load_lib("{{ escher }}", function(){
	 {{ draw_js }}
       })
     });
   }
  </script>
{% endblock %}
