{% if wrapper %}{% extends 'standalone.html' %}{% endif -%}

{% block head %}
{% if wrapper %}{{ super() }}{% endif -%}
  <script src="{{d3_url}}"></script>
  <script src="lib/require.js"></script>
  <link rel="stylesheet" href="{{css_path}}"/>
{% endblock %}

{% block content %}
{% if wrapper %}{{ super() }}{% endif -%}
  <div id="{{id}}"></div>

  <script>
   requirejs.config({
     baseUrl: '/js/src',
     paths: {
       lib: '../../lib',
     }
   });
   {{ initialize_js }}
  </script>
  <script>
   {{ draw_js }}
  </script>
{% endblock %}
