{% if wrapper %}{% extends 'standalone.html' %}{% endif %}

{% block head %}
  <script src="lib/require.js"></script>
  <script src="{{jquery}}"></script>
  <script src="{{boot_js}}"></script>
  <script src="{{d3}}"></script>

  <link rel="stylesheet" href="{{boot_css}}">
  <link rel="stylesheet" href="{{escher_css}}"/>
{% endblock %}

{% block content %}
  <div style="height: {{height}}; width: 100%;" id="{{id}}"></div>

  <script>
   requirejs.config({
     baseUrl: '/js/src',
     paths: {
       lib: '../../lib',
     }
   });
   {{ initialize_js }}
  </script>
  <script>
   {{ draw_js }}
  </script>
{% endblock %}
