{% extends "standalone.html" %}
{% block title %}Escher{% endblock %}
{% block head %}
  <script src="{{jquery}}"></script>

  <link rel="stylesheet" href="{{boot_css}}"/>
  <link rel="stylesheet" href="{{index_css}}"/>

  <!-- This font cannot be downloaded. -->
  <script src="//use.edgefonts.net/tulpen-one.js"></script>
{% endblock %}
{% block content %}
  <main>
    <div class="container">
      <header class="row">
	<div class="col-sm-12">
	  <img src="{{logo}}" id="logo">
	  <div id="title-box">
	    <h1 id="title">ESCHER</h1>
	  </div>
	</div>
      </header>
      <div class="row">
	<div class="col-sm-3">
	  <h3>Model</h3>
	  <select id="model" class="form-control">
	    <option value="none">None</option>
	    {% for model in models %}
	      <option value="{{ model }}">{{ model }}</option>
	    {% endfor %}
	  </select>
	</div>
	<div class="col-sm-3">
	  <h3>Map</h3>
	  <select id="map" class="form-control">
	    <option value="none">None</option>
	    {% for map in maps %}
	      <option value="{{ map }}">{{ map }}</option>
	    {% endfor %}
	  </select>
	</div>
	<div class="col-sm-3">
	  <h3>Options</h3>
	  <select id="options" class="form-control">
	    <option value="viewer">Viewer</option>
	    <option value="builder">Builder</option>
	    {% if not web_version %}
	      <option value="local_viewer">Viewer (Offline)</option>
	      <option value="local_builder">Builder (Offline)</option>
	    {% endif %}
	  </select>
	</div>
	<div class="col-sm-3">
	  <button type="button" class="btn btn-default column-button" onClick="submit()">
	    Submit
	  </button>
	</div>
      </div>
      <!-- FAQ  -->
      <div id="faq" class="row">
	<div class="col-sm-12">
	  <h2>FAQ</h2>
	  <ol>
	    <li><h4>How do I cite Escher?</h4>
	      <p>Escher has not yet been published in a peer-review journal, but, in
		the meantime, you can cite the code by DOI: [Fill in for release v1].</p>
	    </li>
	  </ol>
	</div>
      </div>
    </div>
    <div id="push"></div>
  </main>
  <footer>
    <div class="container">
      <p class="more">
	Learn more about <a href="{{github}}">Escher</a>.
      </p>
    </div>
  </footer>

  <script src="{{index_js}}"></script>
  {% if web_version %}
    <script src="{{index_gh_pages_js}}"></script>
  {% endif %}
{% endblock %}
