body {
    font-family: sans-serif;
}

#rxn-input {
    width: 262px;
    height: 31px;
    font-size: 18px;
    background: rgba(255,255,255,0.4);
}

#svg-container {
    border: 1px solid grey;
}

.reaction-label { 
    font-family: sans-serif; font-style: italic; font-weight: bold; fill: rgb(32, 32, 120);text-rendering: optimizelegibility;
}
.metabolite-label {
    font-family: sans-serif; font-style: italic; font-weight: bold; font-size: 8px;
}
.metabolite-circle {
    fill: rgb(224, 134, 91);
    stroke: rgb(162, 69, 16);
}
#misc-labels{
    font-family: sans-serif; font-weight: bold; fill: rgb(120,120,120); text-rendering: optimizelegibility;
}
.line-arrow{
    fill: none; 
}

.inner-membrane {
    fill: white;
    stroke: rgb(255, 187, 0);
}

.outer-membrane {
    fill: rgb(255, 238, 135);
    stroke: rgb(255, 187, 0);
}

.reaction-arrow {
    stroke: grey;
    stroke-width: 3px;
    fill: none;
}