.escher-container .buttonPanel * {
  box-sizing: border-box;
}

.escher-container .buttonPanel {
  position: absolute;
  left: 4px;
  top: 20%;
  margin-top: -32px;
  padding-left: 0;
  -ms-touch-action: none;
  touch-action: none;
}

.escher-container .buttonPanel>li {
  margin-top: 5px;
}

.escher-container .grouping {
  display: block;
}

.escher-container .buttonGroup {
  display: block;
  margin-bottom: -1px;
  padding: 5px 0px;
  border-radius: 0;
}

.escher-container .grouping>.buttonGroup:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.escher-container .grouping>.buttonGroup:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.escher-container .buttonPanel>.grouping:last-child {
  margin-top: 4px;
}

.escher-container #currentMode {
  background-image: linear-gradient(#8F4F3F,#834c3c 6%,#8d3a2d);
}

.escher-container .buttonGroup.btn {
  margin-top: -1px;
}

.escher-container .button {
  border-radius: 4px;
}

.escher-container .button.btn, .escher-container .buttonGroup.btn {
  color: white!important;
  border: 1px solid #474949;
  background-image: linear-gradient(#4F5151, #474949 6%, #3F4141);
  background-color: white;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px!important;
  font-weight: 400;
  width: 40px;
  height: 40px;
}

.escher-container .buttonPanel .button:active, .escher-container .buttonGroup label:active, .escher-container .buttonPanel .buttonGroup:active {
  background-image: linear-gradient(#3F4141, #474949 6%, #4F5151);
}

.escher-container .buttonPanel .fa {
  font-size: 24px;
}