.escher-container .menuBar {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0 3px;
  position: relative;
  margin: 5px 0px;
  background-color: white;
  border: 1px solid #ddd;
  display: inline-flex;
  box-sizing: border-box;
  width: fit-content;
}

.escher-container .dropdown {
  position: relative;
  float: left;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 0;
  font-weight: normal!important;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.escher-container .dropdownButton {
  color: #d9230f!important;
  border: 1px solid transparent;
  padding: 6px 4px;
}

.escher-container .helpButton {
  color: #d9230f!important;
  padding: 0px 5px;
  background-color: #f5f5f5!important;
  border: 0!important;
  text-decoration: unset;
  height: fit-content;
  position: absolute;
  right: 0;
  font-size: 12px;
}

.escher-container .dropdownButton:focus, .escher-container .helpButton:focus {
  color: #91170a!important;
  text-decoration: underline;
}

.escher-container .dropdownButton:hover, .escher-container .helpButton:hover {
  color: #91170a!important;
  text-decoration: underline;
}

@media (min-width: 550px) {
  .escher-container .menuBar {
    padding-right: 18px;
    padding-left: 3px;
  }

  .escher-container .dropdown {
    font-size: 18px;
  }

  .escher-container .dropdownButton {
    padding: 6px 7px;
  }

  .escher-container .helpButton {
    font-size: 16px;
  }
}

.escher-container .menu {
  box-sizing: border-box;
  font-weight: normal!important;
  word-spacing: 0;
  position: absolute;
  white-space: nowrap;
  top: 103%;
  left: -1%;
  z-index: 1000;
  display: block;
  float: none;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  font-size: 13px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  margin: 0;
  text-align: left;
}

.escher-container #rightMenu {
  left: auto;
  right: -2%;
}

.escher-container .menu li:hover {
  background-color: #d9230f;
  color: #FFFFFF;
}

.escher-container .menu li, .menu label {
  font-size: 15px;
  display: block;
  font-weight: normal!important;
  color: #444444;
}

.escher-container .menuBar>.dropdown+.dropdown {
  margin-left: 2px
}

.escher-container .menu.ul.li {
  background-color: rgba(255, 255, 255, 0.95);
}

.escher-container .menuButton {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px;
  margin: 0;
  cursor: pointer;
  -webkit-touch-callout: none; /* Prevents text selection on touch devices */
  -webkit-user-select: none; /* Prevents text selection. Other */
  -khtml-user-select: none; /* Prevents text selection in Chrome, Safari, Opera */
  -moz-user-select: none; /* Prevents text selection in Firefox */
  -ms-user-select: none; /* Prevents text selection in IE */
  user-select: none; /* Prevents text selection. Default */
}

.escher-container label:focus, .menuButton:focus {
  background-color: #d9230f;
  color: #FFFFFF;
}

.escher-container .menuButton:hover {
  background-color: #d9230f;
  color: #FFFFFF;
}

.escher-container input[type="file"] {
  display: none;
}

.escher-container #disabled {
  color: #e0e0e0;
}

.escher-container #disabled:hover, #disabled:focus {
  background-color: rgba(255, 255, 255, 0.95);
  cursor: default;
}

.escher-container .menuBar .icon-down-dir {
  margin-left: -5px;
}
