.escher-container .picker {
  top: 35px;
  margin-left: -7px;
  position: absolute;
}

.escher-container .pickerBox {
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.375);
  width: 14px;
  height: 35px;
  top: -35px
}

.escher-container .scaleTrack #min {
  margin-left: 0;
  left: -7px;
}

.escher-container .scaleTrack #max {
  margin-left: 0;
  right: -7px;
}

.escher-container .scaleTrack #rightOptions {
  margin-left: auto;
  right: 1px;
}

.escher-container .trashDiv#rightOptions {
  margin-right: -4px;
}

.escher-container .pickerOptions {
  box-shadow: 0 2px 14px #c5c5c5;
  margin-top: 1px;
  display: inline-flex;
  flex-direction: column;
  width: 90px;
}

.escher-container .pickerOptions * {
  font-size: 12px;
}

.escher-container .pickerOptions .option {
  padding: 3px 0px;
}

.escher-container .pickerOptions .typePicker {
  width: 20px;
  position: absolute;
  left: 70px;
  top: 1px;
  right: 0px;
  height: 14px;
  background-color: rgb(232, 232, 232);
}

.escher-container .pickerOptions .colorOptions {
  display: inline-flex;
}

.escher-container .colorOptions .colorText {
  padding: 3px 0px;
  width: -webkit-fill-available;
}

.escher-container .colorOptions .colorWheel {
  padding: 0px 2px;
  position: absolute;
  right: 0;
  width: 24px
}

.escher-container .picker .trashDiv {
  position: absolute;
  top: -56px;
  font-size: 17px;
}

.escher-container .picker .trashDiv * {
  font-size: 17px;
  cursor: pointer;
}

.escher-container .picker .icon-trash {
  margin: -5px;
}

.escher-container .scaleEditor :disabled {
  background: #f1ecfa;
}

.escher-container .scaleEditor input[type=color]:disabled {
  margin-top: 1px;
}