.escher-container .scaleEditor * {
  font-size: 12px;
  color: #777;
  box-sizing: border-box;
}

.escher-container .scaleEditor {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.escher-container .scaleTrack {
  position: relative;
  display: flex;
  width: 400px;
  height: 30px;
  margin-bottom: 9px;
  margin-top: 17px;
  margin-left: 55px;
  font-size: 15px;
}

.escher-container .scaleLabels {
  display: inline-flex;
  flex-direction: column;
  font-size: 12px;
}

.escher-container .scaleLabels label {
  margin-bottom: 6px;
}

.escher-container .noDataStyle {
  position: relative;
  margin-top: 10px;
}

.escher-container .noDataStyle .styleHeader {
  font-size: 12px;
  font-weight: bold;
}

.escher-container .noDataStyle label {
  margin-right: 5px;
}

.escher-container .noDataStyle input[type=text] {
  margin-right: 10px;
  padding: 3px 0px;
  width: 86px;
}

.escher-container .noDataStyle input[type=color] {
  position: absolute;
  padding: 0px 2px;
  border: 1px solid darkgrey;
  margin-left: -34px;
  height: 23px;
  width: 24px;
}

.escher-container .scaleEditor .fa-plus {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  right: 23px;
}