.escher-container .searchContainer * {
  box-sizing: border-box;
}

.escher-container .searchContainer {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3px;
  border: 1px solid #DDD;
  margin: -2px 0 0;
  width: 410px;
}

.escher-container .searchContainer .searchBarButton {
  color: white!important;
  border: 1px solid #2E2F2F;
  background-image: linear-gradient(#4F5151, #474949 6%, #3F4141);
  background-color: white;
  border-color: #2e2f2f;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px!important;
  font-weight: 400;
  height: 29px;
  width: 34px;
}

.escher-container .searchContainer .searchBarButton.left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.escher-container .searchContainer .searchBarButton.right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -1px;
}

.escher-container .searchContainer .searchBarButton:active {
  background-image: linear-gradient(#3F4141, #474949 6%, #4F5151);
}

.escher-container .searchContainer .searchField {
  color: #777;
  display: inline-block;
  border: 1px solid #DDD;
  margin-right: 4px;
  width: 114px;
  height: 29px;
  border-radius: 3px;
  font-size: 13px;
}

.escher-container .searchContainer .searchCounter {
  display: inline-flex;
  color: #777;
  padding: 0 8px;
  font-size: 13px;
}